- @page_title = @note.name + " | Tiskové zprávy"
.col1.main
  %h2= @note.name
  .box.box-detail
    %p= @note.perex
  .actions
    .item
      %p= @note.content
  .gallery
    %h3 Fotografie
    - @note.photos.each do |row|
      .img
        = image_tag row.photo.url(:small)
  .gallery
    %h3 Přiložené soubory
    -#- @note.file_atts.each do |row|
      .img
        -#= link_to row.pdf_note_file_name, row.pdf_note.url
.col2
  = render :partial => 'shared/box_search'
  = render :partial => 'shared/box_open_doors'
  = render :partial => 'shared/box_news', :locals => { :num => 2  }
