- @page_title = @blog.name + " | Aktuality"
.col1.main
  %h2= @object.name
  .box.box-detail
    %p= @object.perex
  .actions
    .item
      %p= @object.content
  .gallery
    %h3 Fotografie
    - @object.photos.each do |row|
      .img
        = image_tag row.photo.url(:small)
  .gallery
    %h3 Přiložené soubory
    -#- @object.file_atts.each do |row|
      .img
        -#= link_to row.pdf_blog_file_name, row.pdf_blog.url
      
.col2
  = render :partial => 'shared/box_search'
  = render :partial => 'shared/box_sections'
  = render :partial => 'shared/box_open_doors'