.clearfix
  .lab
    = f.label :user_name, 'Jméno:'
  .con  
    = f.text_field :user_name, :class => 'inp'
.clearfix
  .lab
    = f.label :email, '*E-mail:'
  .con
    = f.text_field :email, :class => 'inp'
.clearfix
  .lab
    = f.label :password, '*Heslo (minimálně 5 znaků):'
  .con  
    = f.password_field :password, :class => 'inp'
.clearfix
  .lab
    = f.label :password_confirmation, '*Heslo znova:'
  .con  
    = f.password_field :password_confirmation, :class => 'inp'