- @page_title = @section.name + " | Seznam oborů"
.col1.main
  %h2= @section.name
  .box.box-detail
    %p= @section.description
  .actions
    %h3 Předměty důležité pro obor
    .item
      %p= @section.course
  .actions
    %h3 Uplatnění
    .item
      %p= @section.exercise
.col2
  = render :partial => 'shared/submenu_navigation'
  = render :partial => 'shared/box_search'