= render(:partial => "shared/map_e")
- form_for @employer, :url => {:action => "add_marker"} do |f|
= f.error_messages
  %h1
    = @employer.name
  -#= link_to 'Zpět na seznam', schools_path(:page => params[:page])
  -#= link_to 'Zpět na školu', @school
  = marker(@employer.lat.to_s, @employer.lng.to_s, @employer.name)
  %p
    longtitude:
    = f.text_field :lng, :readonly => 'true'
  %p
    latitude:
    = f.text_field :lat, :readonly => 'true'
  %p
    -#-%input{:type => 'hidden', :name => 'page', :value => params[:page] }
    = f.submit "Přidat / upravit místo"
  #map
  #poloha
    = @employer.name
    = @employer.street1
    = @employer.town