%h1
  Editovat tiskovou zprávu 
  = "\"#{@object.name}\""

-#= error_messages_for :blog
= link_to 'Ukázat na webu', note_path(object), :target => '_blank'
|
= link_to 'Zpět', collection_url

- form_for(:note, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Upravit"
  
= link_to 'Ukázat na webu', note_path(object), :target => '_blank'
|
= link_to 'Zpět', collection_url