%ul#menu
  %li= link_to 'ŠKOLY', admin_schools_path
  %li= link_to 'ZAMĚSTNAVATELÉ', admin_employers_path
  %li= link_to 'OBORY', admin_sections_path
  %li= link_to 'AKTUALITY', admin_blogs_path
  %li= link_to 'TISKOVÉ ZPRÁVY', admin_notes_path
  %li= link_to 'RADY ODBORNÍKŮ', admin_hints_path
  %li= link_to 'UŽIVATELÉ', admin_users_path
  %li= link_to 'SOUTĚŽ', admin_rounds_path