- @page_title = "Pravidla soutěže"
.col1.main
  %h2 Pravidla znalostní soutěže na webu Auta nás baví pro žáky základních škol z řad zájemců o studium  na technických oborech:
  .gallery
    .item= image_tag "/images/soutez-1.jpg"
    .item= image_tag "/images/soutez-2.jpg"
    .item= image_tag "/images/soutez-3.jpg"
  %ol
    %li Registrujte se na <a href="">www.autanasbavi.cz</a>. Registrace je povinná pro všechny účastníky soutěže. Vyplněné údaje musí být úplné – jméno, datum narození, poštovní adresa a email.
    %li Po registraci obdržíte na váš email kód, prostřednictvím kterého se budete přihlašovat do všech kol soutěže.
    %li Soutěž je dělena do 4 kol, resp. 4 týdnů, v každém kole je nutné odpovědět celkem na 3 soutěžní otázky.
    %li Soutěž trvá od 1.2. 2010  00.00hod. do 28.2. 2010 00.00hod..
    %li Soutěž je určena návštěvníkům webu Auta nás baví, resp. zájemcům o studium technických oborů na středních školách, tedy dětem od 13 do 16 let.
    %li 
      Soutěžní ceny:
      %ul
        %li 1. místo: notebook Dell Latitude E6400 černý 4/250/W7+XPP; Windows 7 Professional (32Bit) to WXP Professional SP3 (Downgrade) with XP Media
        %li 2. místo: trackové kolo GT Transeo 1.0 - Pláště Schwalbe Landcruiser, páčkové řazení Shimano s 27 převody a přehazovačkou LX
        %li 3. místo: mobilní telefon Nokia E52 s baterií o kapacitě 1500 mAh umožňující telefonovat až 8 hodin v kuse
        %li 4. místo: dámský a pánský cyklodres, velikost M, včetně kalhot + krokoměr
        %li 5. místo: hokejový dres Nike, velikost M + krokoměr
    %li Výhercem první ceny se stává odesílatel emailu, který bude 31 v pořadí dne 1.3. 2010 a jehož všechny soutěžní odpovědi budou správné. Výhercem druhé ceny v pořadí bude odesílatel emailu, který bude 24 v pořadí dne 2.3. 2010 a jehož všechny soutěžní odpovědi budou správné. Výhercem třetí ceny se stává odesílatel emailu, který bude 18 v pořadí dne 3.3. 2010 a jehož všechny soutěžní odpovědi budou správné. Výhercem čtvrté ceny se stává odesílatel emailu, který bude 21 v pořadí dne 4.3. 2010 a jehož všechny soutěžní odpovědi budou správné. Výhercem páté ceny se stává odesílatel emailu, který bude 15 v pořadí dne 5.3. 2010 a jehož všechny soutěžní odpovědi budou správné. Rozhodující je pořadí došlých emailů a správnost odpovědí na soutěžní otázky.
    %li Jména výherců budou oznámena na webu <a href="/">www.autanasbavi.cz</a>, a to nejpozději do 15.3. 2010.
    %li Výhry budou výhercům rozeslány nejpozději do 31.3. 2010 na adresu uvedenou soutěžícím – výhercem v rámci registrace.
    %li Registrací na webové stránce <a href="/">www.autanasbavi.cz</a> účastník potvrzuje, že je podrobně seznámen s pravidly soutěže. Zároveň souhlasí s tím, aby osobní údaje jím poskytnuté v rámci registrace na webové stránce <a href="/">www.autanasbavi.cz</a> byly po dobu 1 roku od data odeslání zpracovávána v souladu se zákonem číslo 101 / 2000 Sb. v platném znění za účelem informování o novinkách na webu <a href="/">www.autanasbavi.cz</a> společností Sdružení automobilového průmyslu se sídlem Opletalova 55, 110 00 Praha 1, která je pořadatelem soutěže.  Souhlas je udělován dobrovolně a může být kdykoliv odvolán na adrese pořadatele.
    %li Výhry nejsou vymahatelné soudní cestou. Pořadatel neručí za ztráty způsobené během přepravy výher a za ztráty způsobené výpadky internetových služeb. Pořadatel akce má právo na změnu podmínek akce i v jejím průběhu.
    %li Z akce jsou vyloučeni zaměstnanci Sdružení automobilového průmyslu a jejich rodinní příslušníci, stejně jako osoby spjaté s ostatními firmami, které se podílejí na této akci, jmenovitě Euro RSCG PR s.r.o. a Euro RSCG 4D a.s..

.col2
  = render :partial => 'shared/box_search'
  = render :partial => 'shared/box_sections'