!!! Strict
%html{ html_attrs('cs') }
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html', :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'content-language', :content => 'cs' }
    %meta{ :name => 'author', :content => 'Euro RSCG 4D' }
    %meta{ :name => 'copyright', :content => '2008 Euro RSCG 4D' }
    %meta{ :name => 'description', :content => 'Stránky určené pro všechny uchazeče o středoškolské studium. Seznam oborů s maturitou i bez maturity. Seznam středních a odborných škol nabízejících technické obory. Informace o zaměstnavatelích v automobilovém průmyslu.' }
    %meta{ :name => 'keywords', :content => 'auta, auto, automobil, automobilový, střední škola, učiliště, studijní, obor, odborné učiliště, učební, technika, kam na školu, autoprůmysl, vzdělání, kam na školu, automechanik, elektromechanik, autoelektrikář, mechanik, strojní, průmyslová, elektro' } 
    = page_title
    = stylesheet_link_tag 'application', 'prg'
    = stylesheet_link_tag 'print', :media => 'print'
    = javascript_include_tag ['application','jquery-1.3.2', 'jquery.livequery.js', 'swfobject.js']
  %body
    %ul.noscreen
      %li= link_to 'Přeskočit na obsah', '#content'
      %li= link_to 'Přeskočit na menu', '#mainMenu'
    %hr.hidden.noprint
    #view
      #head
        #logo
          %h1.overlaid
        - banners = %w(580x138 auta 580x138_2)
        :javascript
          var so = new SWFObject("/images/Banner_anbTop.swf", "banner", 608, 154, "9", "#FFFFFF");
          so.addParam("wmode", "transparent");
          so.write("logo");
        #topForm
          = render :partial => 'shared/top_navigation'
          - if !current_user
            - @user_session = UserSession.new
            - form_for @user_session, :url => user_session_path, :method => 'post', :html => { :class => 'formBox' } do |f|
              %fieldset
                .clearfix
                  = f.label :email, 'E-mail:'
                  = f.text_field :email, :class => 'button'
                .clearfix
                  = f.label :password, 'Heslo:'
                  = f.password_field :password, :class => 'button'
                  = f.submit "Přihlásit", :class => 'submit'
                .clearfix
                  = f.check_box :remember_me
                  = f.label :remember_me, 'Zapamatovat na tomto počítači'
                  = link_to "Registrace", new_user_path
          - else
            %br
            %b Přihlášený uživatel:
            = current_user.email
            %br
            = link_to "Odhlásit se", user_session_path, :method => :delete, :confirm => 'Opravdu se chcete odhlásit?'
            %span &nbsp; | &nbsp;
            - if(current_user.urole == 2 || current_user.urole == 1)
              = link_to "Administrace", admin_path
            - if(current_user.urole == 3)
              = link_to "Administrace", admin_employers_path
            %br
            %br
            %br
            %br                           
        #mainMenu
          = render :partial => 'shared/main_navigation'
      %hr.hidden
      #content.cols
        %p.navi 
          Nacházíte se:
          = render_crumbs (:seperator => ' &rsaquo; ')
        = yield
      %hr.hidden.noprint
      #foot
        %p.fl &copy; Sdružení automobilového průmyslu 2008
        %ul.fr
          %li= link_to "Ke stažení", download_path
          %li= link_to "Kontakty", contact_path
          %li= link_to "Prohlášení o přístupnosti", accesibility_path
          %li= link_to "O webu", home_path
    = yield :home_map
    = yield :maps
    = javascript_include_tag ['defaults','jquery.scrollTo-1.4.0-min','jquery.serialScroll-1.2.1-min', 'jquery.livequery.js', 'init']
    %script{:type => "text/javascript"}  
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type => "text/javascript"}   
      var pageTracker = _gat._getTracker("UA-3142182-30");
      pageTracker._trackPageview();